

/*地图大小*/
#monitormap {
    width: 100%;
    height: 100%;
}

#all-panel .panel-body{
    padding: 5px;
}

#yewei-panel{
    margin-bottom:0px;
    padding-bottom: 5px;
}

#yewei-panel .panel-body{
    padding: 5px;
    overflow:auto;
    max-height:670px
}

#yewei-panel .panel-body .panel-first{
    border:1px solid #EFEEED;
    margin-bottom: 5px;
}

#yewei-panel .panel-body .panel-other{
    border:1px solid #EFEEED;
    margin-top: 5px;
    margin-bottom: 5px;
}

#yewei-panel .panel-body .panel-heading{
    background-color: #FFFFEE;
    border-style: none
}

#yewei-panel .panel-body .panel-body{
    text-align: center;
    padding: 5px;
}

#yewei-panel .panel-body .panel-body p{
    font-size:1.0em;
}

#yewei-panel .panel-body .panel-body span{
    color:greenyellow;
    font-size: 1.5em;
}


/*测试接入Websocket数值值*/
#idtest{
    color:orange;
    font-size: 1.5em;
}

#monitor-content{ padding-left: 0; }

#monitor-content .well{
    padding:0;
    height: 830px;
}