

/*面包屑导航-全局*/
#contentcrumb {
    height: 20px;
}


/*index模块-----------------------------------------------------------------------*/
/*首页欢迎图片*/
.center-block{
    width: 667px;
    height: 500px;
    margin-top: 8em;
}


/*设施管理模块-----------------------------------------------------------------------*/
/*地图大小*/
#assetmap {
    width: 100%;
    height: 100%;
}

#assertwell{
    padding:0;
    height: 830px;
}


/*报警模块-----------------------------------------------------------------------*/
#alarmtable th,td {
    text-align: center;
}


/*工单报表模块-----------------------------------------------------------------------*/
#sheettable th,td {
    text-align: center;
}